header#nav.nav
   .nav-item
      button#side-nav-btn.btn-side-nav
         svg.nav-side-nav-icon(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor")
               path(stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5")
   #brand.nav-item
      a.nav-btn-brand(href="/" title="Home")
         h1.nav-header-brand PiXeum
         //- #link-tooltip.tool-tip(role="tooltip") Home
   #search.nav-item   
      #search-bar.wrapper
         button.btn-search(title="Search")
            svg.search-icon(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor")
               path(stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z")
         input#search-input.search(placeholder="Search" type="text")
         button#search-clear.btn-search-clear.hidden(title="Clear search")
            svg#search-clear-icon.clear-icon(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor")
               path(stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12")
      button#search-revert.btn-revert.hidden(title="Close search")
         svg.revert-icon(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor")
            path(stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3")

   #user-features.nav-item
      if user
         .nav-item-option
            a.nav-btn.loggedin-nav-btn.nav-btn__upload(href="/submission" title="Upload your work")
               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="upload-icon">
               <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
               </svg>
         .nav-item-option
            #drop_down_with_notifications
               button#notifications-list-trigger.nav-btn.loggedin-nav-btn.bell(title="Notifications")
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="notifications-icon">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                  </svg>
               #notifications-list.closed
                  .notifications-list-item
                     h4 Notifications
                  .notifications-list-item
                     ul.notifications-item-list
                        li
                           a.notification-link(href="#")
                              //- image
                              //- Title
                              //- coverImage
   #account.nav-item
      if user                        
         .nav-item-option                     
            #drop_down_with_links
               button#profile-menu-trigger.nav-btn.loggedin-nav-btn(title="Profile Menu")
                  img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
               #profile-menu.closed
                  .profile-menu-item
                     .profile-menu-item__col-l
                        img.profile-menu__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
                     .profile-menu-item__col-r
                        h3.profile-menu__header-name= user.name
                        h3.profile-menu__header-username=`@${user.username}`
                        a.profile__account-link(href='/me' title="Account management") Manage your Account
                  .profile-menu-item
                     ul.profile-item-list
                        li
                           a.profile-menu__list-link(href=`/${user.username}` title="Profile")
                              <svg class="profile-menu__list__link-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                              </svg>
                              | Your Profile
                        li
                           a.profile-menu__list-link(href="#" title="Dashboard") 
                              <svg class="profile-menu__list__link-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 107.5 7.5h-7.5V6z" />
                              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0013.5 3v7.5z" />
                              </svg>
                              | Dashboard
                        li
                           a#logoutBtn.profile-menu__list-link(title="Sign out")
                              <svg class="profile-menu__list__link-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                              <rect width="256" height="256" fill="none"/>
                              <polyline fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="16" points="174.011 86 216 128 174.011 170"/>
                              <line x1="104" x2="215.971" y1="128" y2="128" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
                              <path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="16" d="M104,216H48a8,8,0,0,1-8-8V48a8,8,0,0,1,8-8h56"/>
                              </svg> 
                              | Sign out
                  
                  .profile-menu-item
                     ul.profile-item-list
                        li
                           a.profile-menu__list-link(href="#" title="Settings")
                              <svg class="profile-menu__list__link-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="side-nav-link-icon"   >
                              <path stroke-linecap="round" stroke-linejoin="round" d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 010 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 01-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 01-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 010-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z" />
                              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                              </svg>
                              | Settings
                  
                  .profile-menu-item
                     ul.profile-item-list
                        li
                           a.profile-menu__list-link(href="#" title="Help")
                              <svg class="profile-menu__list__link-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="side-nav-link-icon"   >
                              <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                              </svg>
                              | Help
                        li
                           a.profile-menu__list-link(href="#" title="Send Feedback")
                              <svg class="profile-menu__list__link-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="side-nav-link-icon"   >
                              <path fill="none" d="M0 0h24v24H0z"/>
                              <path d="M6.455 19L2 22.5V4a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H6.455zM4 18.385L5.763 17H20V5H4v13.385zM11 13h2v2h-2v-2zm0-6h2v5h-2V7z" fill="#fff"/>
                              </svg>
                              | Send Feedback
      else
         .nav-item-option
            a.nav-btn.btn-join(href="/signup" title="Sign up") Join
         .nav-item-option
            a.nav-btn.btn-signin(href="/login" title="Sign in") Sign in

aside#aside.side-nav
    #sidenavitem1.side-nav-item
        ul.side-nav-list
            li.center-side-nav-link
               a.side-nav-link.shrink-side-nav-link(href="/" title="Home")
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="side-nav-link-icon   color fill">
                  <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z" clip-rule="evenodd" />
                  </svg>
                  | Home
            li.center-side-nav-link
               a.side-nav-link.shrink-side-nav-link(href="#" title="Recent Uploads")
                  <svg class="side-nav-link-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path fill= "#fff" d="M22.42 11.34l-1.86-2.12.26-2.81c.05-.5-.29-.96-.77-1.07l-2.76-.63-1.44-2.43c-.26-.43-.79-.61-1.25-.41L12 3 9.41 1.89c-.46-.2-1-.02-1.25.41L6.71 4.72l-2.75.62c-.49.11-.83.56-.78 1.07l.26 2.8-1.86 2.13c-.33.38-.33.94 0 1.32l1.86 2.12-.26 2.82c-.05.5.29.96.77 1.07l2.76.63 1.44 2.42c.26.43.79.61 1.26.41L12 21l2.59 1.11c.46.2 1 .02 1.25-.41l1.44-2.43 2.76-.63c.49-.11.82-.57.77-1.07l-.26-2.81 1.86-2.12c.34-.36.34-.92.01-1.3zM13 17h-2v-2h2v2zm-1-4c-.55 0-1-.45-1-1V8c0-.55.45-1 1-1s1 .45 1 1v4c0 .55-.45 1-1 1z"/>
                  </svg>
                  | Recent
    #sidenavitem2.side-nav-item
        ul.side-nav-list
            li.center-side-nav-link
               a.side-nav-link.shrink-side-nav-link(href="#" title="Your History")
                  <svg class="side-nav-link-icon"   xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path fill="none" d="M0 0h24v24H0V0z"/>
                  <path fill= "#fff" d="M13.26 3C8.17 2.86 4 6.95 4 12H2.21c-.45 0-.67.54-.35.85l2.79 2.8c.2.2.51.2.71 0l2.79-2.8c.31-.31.09-.85-.36-.85H6c0-3.9 3.18-7.05 7.1-7 3.72.05 6.85 3.18 6.9 6.9.05 3.91-3.1 7.1-7 7.1-1.61 0-3.1-.55-4.28-1.48-.4-.31-.96-.28-1.32.08-.42.42-.39 1.13.08 1.49C9 20.29 10.91 21 13 21c5.05 0 9.14-4.17 9-9.26-.13-4.69-4.05-8.61-8.74-8.74zm-.51 5c-.41 0-.75.34-.75.75v3.68c0 .35.19.68.49.86l3.12 1.85c.36.21.82.09 1.03-.26.21-.36.09-.82-.26-1.03l-2.88-1.71v-3.4c0-.4-.34-.74-.75-.74z"/>
                  </svg>
                  | History
            li.center-side-nav-link
               a.side-nav-link.shrink-side-nav-link(href="#" title="Your Bookmarks")
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="side-nav-link-icon"  >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 3.75V16.5L12 14.25 7.5 16.5V3.75m9 0H18A2.25 2.25 0 0120.25 6v12A2.25 2.25 0 0118 20.25H6A2.25 2.25 0 013.75 18V6A2.25 2.25 0 016 3.75h1.5m9 0h-9" />
                  </svg>
                  | Bookmarks
            li.center-side-nav-link
               a.side-nav-link.shrink-side-nav-link(href="#" title="Your Favorites")
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="side-nav-link-icon"  >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                  </svg>
                  | Favorites
    #sidenavitem3.side-nav-item.hidden
        ul.side-nav-list
            li
               a.side-nav-link(href="#" title="Settings")
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="side-nav-link-icon"  >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 010 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 01-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 01-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 010-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  </svg>
                  | Settings
            li
               a.side-nav-link(href="#" title="Report History")
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="side-nav-link-icon"  >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3 3v1.5M3 21v-6m0 0l2.77-.693a9 9 0 016.208.682l.108.054a9 9 0 006.086.71l3.114-.732a48.524 48.524 0 01-.005-10.499l-3.11.732a9 9 0 01-6.085-.711l-.108-.054a9 9 0 00-6.208-.682L3 4.5M3 15V4.5" />
                  </svg>
                  | Report History
            li
               a.side-nav-link(href="#" title="Help")
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="side-nav-link-icon"  >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                  </svg>
                  | Help
            li
               a.side-nav-link(href="#" title="Send Feedback")
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="side-nav-link-icon"  >
                  <path fill="none" d="M0 0h24v24H0z"/>
                  <path d="M6.455 19L2 22.5V4a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H6.455zM4 18.385L5.763 17H20V5H4v13.385zM11 13h2v2h-2v-2zm0-6h2v5h-2V7z" fill="#fff"/>
                  </svg>
                  | Send Feedback
    #sidenavitem4.side-nav-item.hidden
      .side-nav-footer
         .footer-item
            a.footer-link(href="#" title="About Us") About
            a.footer-link(href="#" title="Press") Press
            a.footer-link(href="#" title="Copyright") Copyright
         .footer-item
            a.footer-link(href="#" title="Contact us") Contact us
            a.footer-link(href="#" title="Creators") Creators 
         .footer-item 
            a.footer-link(href="#" title="Advertise") Advertise 
            a.footer-link(href="#" title="Developers") Developers
         .footer-item
            a.footer-link(href="#" title="Terms & Conditions") Terms
            a.footer-link(href="#" title="Privacy") Privacy 
            a.footer-link(href="#" title="Policy & Safety") Policy&Safety 
         .footer-item
            a.footer-link(href="#" title="How Pixeum works") How Pixeum Works 
         .footer-item 
            a.footer-link(href="#" title="Test new features") Test New Features