extends base

block content
    section#main.main
        .personal-info__container    
            .personal-info__container-item
                h1.personal-info__header Personal info
            .personal-info__container-item 
                h2.personal-info__container-item__header Basic info
                p.personal-info__container-item__description Some info may be visible to other users on our website.                      
                ul.personal-info__container-item__list
                    li
                        a.presonal-info__container-item__list-link(href="#") Add a personalized photo
                            span.personal-info__span Photo
                            img.personal-info__user-img(src=`/img/users/${user.photo}`, alt=`${user.name} photo`) 
                    li  
                        a.presonal-info__container-item__list-link(href="#")=`${user.name}`
                            span.personal-info__span Name
                            <svg class="personal-info__link-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                            </svg>
                    li  
                        a.presonal-info__container-item__list-link(href="#")=`${user.username}`
                            span.personal-info__span Username
                            <svg class="personal-info__link-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                            </svg>
                    li  
                        a.presonal-info__container-item__list-link(href="#")=`${user.birthday}`
                            span.personal-info__span Birthday
                            <svg class="personal-info__link-icon"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                            </svg>
                    li  
                        a.presonal-info__container-item__list-link(href="#")=`${user.gender}`
                            span.personal-info__span Gender
                            <svg class="personal-info__link-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                            </svg>

            .personal-info__container-item 
                h2.personal-info__container-item__header Contact info                       
                ul.personal-info__container-item__list
                    li
                        a.presonal-info__container-item__list-link(href="#")=`${user.email}`
                            span.personal-info__span Email
                            <svg class="personal-info__link-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                            </svg>

            .personal-info__container-item 
                h2.personal-info__container-item__header Password
                p.personal-info__container-item__description A secure password helps protect your account.                      
                ul.personal-info__container-item__list
                    li
                        a.presonal-info__container-item__list-link(href="#")=`${user.passwordChangedAt}`
                            span.personal-info__span **********
                            <svg class="personal-info__link-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                            </svg>
