extends base

block content
    section#main.main
        .personal-info__container    
            .personal-info__container-item
                h1.personal-info__header Personal info
            .personal-info__container-item 
                h2.personal-info__container-item__header Basic info
                p.personal-info__container-item__description Some info may be visible to other users on our website.                      
                ul.personal-info__container-item__list
                    li
                        a#update-photo-btn.presonal-info__container-item__list-link Add a personalized photo
                            span.personal-info__span Photo
                            img.personal-info__user-img(src=`/img/users/${user.photo}`, alt=`${user.name} photo`)
                        #update-photo__modal.update-info__modal
                            .update-info__modal-content
                                form#form__profile-photo.form__update
                                    h3.update-profile__header Profile picture
                                    button.btn-escape__update-profile
                                        svg.clear-icon(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor")
                                            path(stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12")
                                    p.update-profile__description A picture helps people recognize you and lets you know when you're signed in to your account
                                    .update-profile-pic__container
                                        img#img__profile-photo.profile-pic(src=`/img/users/${user.photo}`, alt=`${user.name} photo`)                                      
                                        label.profile-pic__label(for='input__photo')
                                            span.pp-sp Change Image
                                            span.pp-sp
                                                <svg class="s24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" class="w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.827 6.175A2.31 2.31 0 015.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 00-1.134-.175 2.31 2.31 0 01-1.64-1.055l-.822-1.316a2.192 2.192 0 00-1.736-1.039 48.774 48.774 0 00-5.232 0 2.192 2.192 0 00-1.736 1.039l-.821 1.316z" />
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12.75a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zM18.75 10.5h.008v.008h-.008V10.5z" />
                                                </svg>
                                        input#input__photo.form__upload(type='file', accept='image/*', name='input__photo')  
                                    button#submit__photo.btn-submit__photo
                                        <svg class="btn-submit__photo-icon s24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.827 6.175A2.31 2.31 0 015.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 00-1.134-.175 2.31 2.31 0 01-1.64-1.055l-.822-1.316a2.192 2.192 0 00-1.736-1.039 48.774 48.774 0 00-5.232 0 2.192 2.192 0 00-1.736 1.039l-.821 1.316z" />
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12.75a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zM18.75 10.5h.008v.008h-.008V10.5z" />
                                        </svg>
                                        | Save
                                            
                                            

                                    //- .form__group.right
                                    //-     button.btn.btn--small.btn--green Save settings
                    li  
                        a#update-name-btn.presonal-info__container-item__list-link=`${user.name}`
                            span.personal-info__span Name
                            <svg class="personal-info__link-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                            </svg>
                        #update-name__modal.update-info__modal
                            .update-info__modal-content
                                p Some Modal Text
                    li  
                        a#update-username-btn.presonal-info__container-item__list-link=`${user.username}`
                            span.personal-info__span Username
                            <svg class="personal-info__link-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                            </svg>
                        #update-username__modal.update-info__modal
                            .update-info__modal-content
                                p Some Modal Text                            
                    li  
                        a#update-birthday-btn.presonal-info__container-item__list-link=`${user.birthday}`
                            span.personal-info__span Birthday
                            <svg class="personal-info__link-icon"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                            </svg>
                        #update-birthday__modal.update-info__modal
                            .update-info__modal-content
                                p Some Modal Text                                
                    li  
                        a#update-gender-btn.presonal-info__container-item__list-link=`${user.gender}`
                            span.personal-info__span Gender
                            <svg class="personal-info__link-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                            </svg>
                        #update-gender__modal.update-info__modal
                            .update-info__modal-content
                                p Some Modal Text

            .personal-info__container-item 
                h2.personal-info__container-item__header Contact info                       
                ul.personal-info__container-item__list
                    li
                        a#update-email-btn.presonal-info__container-item__list-link=`${user.email}`
                            span.personal-info__span Email
                            <svg class="personal-info__link-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                            </svg>
                        #update-email__modal.update-info__modal
                            .update-info__modal-content
                                p Some Modal Text

            .personal-info__container-item 
                h2.personal-info__container-item__header Password
                p.personal-info__container-item__description A secure password helps protect your account.                      
                ul.personal-info__container-item__list
                    li
                        a#update-password-btn.presonal-info__container-item__list-link=`${user.passwordChangedAt}`
                            span.personal-info__span **********
                            <svg class="personal-info__link-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                            </svg>
                        #update-password__modal.update-info__modal
                            .update-info__modal-content
                                p Some Modal Text
