extends base

mixin renderComment(comment, depth=0)
    li(class=['comment-item ml-8 mb-16',`depth-${depth}`] id=`comment-${comment._id}` data-elements=JSON.stringify(comment.elements))
        if comment.user && comment.user.username
            img.comment-user-icon(src=`/img/users/${comment.user.photo || 'default.jpg'}`)
            .comment
                .comment-header
                    h4.comment-username=`${comment.user.username}`
                    .comment-reply
                        if comment.parentComment && comment.parentComment.user && comment.parentComment.user.username
                            img.comment-reply-icon(src=`/img/svg/reply-arrow-grey.svg`)
                            h4.comment-reply-to-username=`${comment.parentComment.user.username}`
                p.comment-date
                    | #{timeAgo(comment.createdAt)}
                    if comment.isEdited
                        |  (Edited: #{timeAgo(comment.updatedAt)})
                    if comment.reply_count
                        |  | #{comment.reply_count} #{comment.reply_count === 1 ? 'Reply' : 'Replies'}
                .comment-content
                    if comment.deleted
                        p='[deleted]'
                    else
                        - const sortedElements = comment.elements.sort((a, b) => a.order - b.order);
                        each element in sortedElements
                            .comment-element
                                if element.type === 'text'
                                    - const formattedText = element.value.replace(/\*\*(.*?)\*\*/g, '<strong>$1</strong>').replace(/\*(.*?)\*/g, '<em>$1</em>')
                                    p!= formattedText
                                else if element.type === 'image' || element.type === 'gif'
                                    img.comment-media(src=element.value alt=`Comment ${element.type}` data-type=element.type data-commentor-username=comment.user.username
            data-commentor-avatar=`/img/users/${comment.user.photo || 'default.jpg'}`
            data-comment-sent-time=comment.createdAt.toISOString())
                                else if element.type === 'excel'
                                    pre= element.value
                .comment-footer
                    if !comment.deleted
                        button.comment-like-button(data-comment-id=comment._id data-upload-username=comment.upload.user.username data-upload-slug=comment.upload.slug)
                            img.comment-vote-icon(src='/img/svg/thumbs-up.svg', alt='Thumbs Up Icon')
                            p.comment-vote-count(id=`comment-like_count-${comment._id}`)=`${comment.like_count}`
                        button.comment-dislike-button(data-comment-id=comment._id data-upload-username=comment.upload.user.username data-upload-slug=comment.upload.slug)
                            img.comment-vote-icon(src='/img/svg/thumbs-down.svg', alt='Thumbs Down Icon')
                            p.comment-vote-count(id=`comment-dislike_count-${comment._id}`)=`${comment.dislike_count}`
                        if depth < 3                                                     
                            button.comment-reply-button(data-comment-id=comment._id) Reply
                        button.comment-share-button Share
                        if user && user.id === comment.user._id.toString()
                            button.comment-edit-button(data-comment-id=comment._id) Edit
                            button.comment-delete-button(data-comment-id=comment._id) Delete
                if !comment.deleted
                    .comments-edit-section.hidden(data-comment-id=comment._id, id=`edit-section-${comment._id}`)
                        form(data-comment-id=comment._id, id=`edit-form-${comment._id}` enctype='multipart/form-data' class='edit-comment-form comments-post' data-tenor-api-key=process.env.TENOR_API_KEY)
                            div(id=`edit-comment-editor-${comment._id}` contenteditable="true" placeholder="Join the discussion..." class="comment-editor mt-1 block w-full")
                            hr
                            .comments-buttons
                                button(type="button" id=`edit-comment-gif-${comment._id}` class='comment-gif-button m10')
                                    img.cbsz(src='/img/svg/gif.svg' alt='Gif')
                                div(id=`gif-picker-edit-${comment._id}` style='display: none;')
                                input(type="file" id=`edit-media-upload-${comment._id}` class='media-upload' name="media" accept="image/*,.gif,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet")
                                button(type="button" id=`edit-comment-image-${comment._id}` class="comment-image-button m5")
                                    img.cbsz(src='/img/svg/image-landscape.svg' alt='Image')
                                .v1.m5
                                button(type="button" id=`edit-comment-bold-${comment._id}` class='comment-bold-button m5')
                                    img.cbsz(src='/img/svg/bold.svg' alt='Bold')
                                button(type="button" id=`edit-comment-italics-${comment._id}` class='comment-bold-button m5')
                                    img.cbsz(src='/img/svg/italic.svg' alt='Italics')
                                button(type="button" id=`edit-comment-strikethrough-${comment._id}` class='comment-bold-button m5')
                                    img.cbsz(src='/img/svg/strikethrough.svg' alt='Strikethrough')
                                button(type="button" id=`edit-comment-link-${comment._id}` class='comment-bold-button m5')
                                    img.cbsz(src='/img/svg/link.svg' alt='Link')
                                button(type="button" id=`edit-comment-spoiler-${comment._id}` class='comment-bold-button m5')
                                    img.cbsz(src='/img/svg/eye-invisible.svg' alt='Spoiler') 
                                button(type="button" id=`edit-comment-code-${comment._id}` class='comment-bold-button m5')
                                    img.cbsz(src='/img/svg/code.svg' alt='Code')
                                button(type="button" id=`edit-comment-quotes-${comment._id}` class='comment-bold-button m5')
                                    img.cbsz.m10(src='/img/svg/quotes.svg' alt='Quotes')
                                button(type="button" id=`edit-comment-mention-${comment._id}` class='comment-bold-button m5')
                                    img.cbsz(src='/img/svg/Mention.svg' alt='Mention')
                                .comment-submit
                                    button.edit-submit-button(type='submit') Save
                    .comments-reply-section.hidden(data-comment-id=comment._id, id=`reply-section-${comment._id}`)
                        img.comment-user-icon(src=`/img/users/${comment.user.photo}`)
                        form(id=`reply-form-${comment._id}` enctype='multipart/form-data' class='reply-form comments-post' data-comment-id=comment._id data-upload-username=comment.upload.user.username data-upload-slug=comment.upload.slug data-tenor-api-key=process.env.TENOR_API_KEY)
                            div(id=`reply-comment-editor-${comment._id}` contenteditable="true" placeholder="Join the discussion..." class="comment-editor mt-1 block w-full")
                            hr
                            .comments-buttons
                                button(type="button" id=`reply-comment-gif-${comment._id}` class='comment-gif-button m10')
                                    img.cbsz(src='/img/svg/gif.svg' alt='Gif')
                                div(id=`gif-picker-reply-${comment._id}` style='display: none;')
                                input(type="file" id=`reply-media-upload-${comment._id}` class='media-upload' name="media" accept="image/*,.gif,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet")
                                button(type="button" id=`reply-comment-image-${comment._id}` class="comment-image-button m5")
                                    img.cbsz(src='/img/svg/image-landscape.svg' alt='Image')
                                .v1.m5
                                button(type="button" id=`reply-comment-bold-${comment._id}` class="comment-image-button m5")
                                    img.cbsz(src='/img/svg/bold.svg' alt='Bold')
                                button(type="button" id=`reply-comment-italics-${comment._id}` class="comment-image-button m5")
                                    img.cbsz(src='/img/svg/italic.svg' alt='Italics')
                                button(type="button" id=`reply-comment-strikethrough-${comment._id}` class="comment-image-button m5")
                                    img.cbsz(src='/img/svg/strikethrough.svg' alt='Strikethrough')
                                button(type="button" id=`reply-comment-link-${comment._id}` class="comment-image-button m5")
                                    img.cbsz(src='/img/svg/link.svg' alt='Link')
                                button(type="button" id=`reply-comment-spoiler-${comment._id}` class="comment-image-button m5")
                                    img.cbsz(src='/img/svg/eye-invisible.svg' alt='Spoiler') 
                                button(type="button" id=`reply-code-image-${comment._id}` class="comment-image-button m5")
                                    img.cbsz(src='/img/svg/code.svg' alt='Code')
                                button(type="button" id=`reply-comment-quotes-${comment._id}` class="comment-image-button m5")
                                    img.cbsz.m10(src='/img/svg/quotes.svg' alt='Quotes')
                                button(type="button" id=`reply-comment-mention-${comment._id}` class="comment-image-button m5")
                                    img.cbsz(src='/img/svg/Mention.svg' alt='Mention')
                                .comment-submit
                                    button.reply-submit-button(type='submit') Submit Reply
            if comment.comments && comment.comments.length && depth < 3
                each reply in comment.comments
                    +renderComment(reply, depth + 1)
        else
            .comment
                h4.comment-header [Comment by deleted user: #{comment.deleted ? '[deleted]' : comment.elements}]
                p.comment-date
                    | Posted on #{new Date(comment.createdAt).toLocaleDateString()}   

block content
    #comment-media-modal-overlay.comment-media-modal-overlay.hidden
    #comment-media-modal.comment-media-modal.hidden
        .modal-header
            .modal-commentor-info
                img.modal-commentor-avatar(src='' alt='Commentor Avatar' width='32' height='32')
                .modal-commentor-details
                    span.modal-commentor-username
                    span.modal-commentor-time
            .modal-actions
                button#comment-media-modal-download-btn(type='button')
                    img(src='/img/svg/download.svg' alt='Download Media')
                button#comment-media-modal-close-btn(type='button')
                    img(src='/img/svg/close.svg' alt='Close Modal')
        .modal-body
            img#comment-media-modal-image.comment-modal-image(src='' alt='Comment Media')
    
    section#main.main
        .upload-container
            .highlighted-section
                .highlighted-container-bottom-wrapper
                    .my-comments-page
                        h1.my-comments-title My Comments
                        if comments.length
                            ul#messages.comments-list
                                each comment in comments
                                    .comment-card.mb-16
                                        +renderComment(comment)
                        else
                            .comments-none
                                p.comment-befirst-cotent='You have no comments'
            .side-container
                .side__container-header
                    .side__header
                        if user
                            img.side__avatar-img(src=`/img/users/${user.photo}`)
                            h4=`${user.username}`
                    .side__sub-btn
                        button.btn.btn-subscribe Subscribe