extends base

append head
  script(type='module' src='/js/front/uploadFile.js')
  script(type='module' src='/js/front/updateUpload.js')
  script(type='module' src='/js/front/tagsInput.js')
  script(type='module' src='/js/front/matureContentSelection.js')
block content
  section#upload-main.upload(data-upload=uploadData)
      form#update-upload
        .modal-lip
          button.btn-lip(type='button')
            h3.modal-lip-title=upload.title
        
        #upload.modal(data-state='3' data-ready='false')
          
          .modal__header
            h2.modal__title=`Update ${upload.title}`  
          
          .modal__body

            .modal__content.image-processing-step
              .upload__mature-type
                input#media.drop-zone__input(type='file' name='myFile' hidden='' )
                button#edit-upload.btn.btn-update-file(type='button')
                  svg.btn-update-file__icon(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor")
                    path(stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125")

                img.uploaded-img(src=`/img/stock/raw-${upload.media}`)
                .image-display-container
                  label(for="image-display") Display Options:
                  .image-display-wrapper
                    select#image-display
                      option#orignalSize(value='original')
                      option(value='400') Size: 400 pixels wide
                      option(value='600') Size: 600 pixels wide
                      option(value='800') Size: 800 pixels wide
                      option(value='900') Size: 900 pixels wide
                      option(value='1024') Size: 1024 pixels wide
                      option(value='1280') size: 1280 pixels wide
                      option(value='1600') size: 1600 pixels wide
                      option(value='1920') size: 1920 pixels wide
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="chevron-down">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                    </svg>

              .upload__title-group
                h4=Title
                input#title(type='text' name='title' placeholder='Give your upload a title' value=`${upload.title}`)
              .upload__description-group
                h4 Description
                textarea#description(name='description' placeholder='Give your upload a description' cols='50' rows='10')=`${upload.description}`
              .upload__tags-group
                h4 Tags
                input#tags(type='text' name='tags')
              .upload__maturity-group
                .mature-content
                  input#mature(type='checkbox' name='maturity-checkbox' value='mature')
                  label(for='maturity-checkbox') Mature Content
                fieldset#maturity-field.hidden
                  legend What level of maturity does your content contain?
                  ul.list__maturity-type
                    li
                      input#moderate.maturity-option(type='checkbox' name='moderate-checkbox' value='moderate')
                      label(for='moderate-checkbox') Moderate
                    li
                      input#strict.maturity-option(type='checkbox' name='strict-checkbox' value='strict')
                      label(for='strict-checkbox') Strict
                  ul.list__maturity-options
                    li
                      input.maturity-option(type='checkbox' name='nudity-checkbox' value='nudity')
                      label(for='nudity-checkbox') Nudity
                    li
                      input.maturity-option(type='checkbox' name='sexual-themes-checkbox' value='sexual themes')
                      label(for='sexual-themes-checkbox') Sexual Themes
                    li
                      input.maturity-option(type='checkbox' name='violence-gore-checkbox' value='violence and/or gore')
                      label(for='violence-gore-checkbox') Violence and/or Gore
                    li
                      input.maturity-option(type='checkbox' name='strong-language-checkbox' value='strong language')
                      label(for='strong-language-checkbox') Strong Language
                    li
                      input.maturity-option(type='checkbox' name='ideologically-sensitive-checkbox' value='ideologically sensitive')
                      label(for='ideologically-sensitive-checkbox') Ideologically Sensitive

              button.btn.btn-upload-submit(type='submit') Submit
            .modal__content.drop_zone.hide
              .modal__actions.drop-zone.hide
                .span-prompts
                  span.drop-zone__prompt Drop image, pdf, or text here
                  span.drop-zone__prompt OR
                  span.drop-zone__prompt Click to upload 
                input#media.drop-zone__input(type='file' name='myFile' hidden='' )
                
            .modal__content.loading-step(hidden='')
              .upload__mature-type
                img.uploading-img
                .modal__actions.progress
                  .modal__progress
                    .progress-row-container
                      .modal__progress-bar
                        .modal__progress-fill(data-progress-fill)
                      button.btn.btn-upload-cancel(type='button' data-action='cancel')
                        svg.clear-icon.s24(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' cursor='pointer' data-action='cancel')
                          path(stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6M6 6l12 12')
                    .modal__file(data-file)

            .modal__content(hidden='')
                img.uploading-img
